#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 0.5px solid #f8fff8;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
}

.novo-jogo-button {
  padding: 0.6rem 1.5rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.novo-jogo-button:hover {
  background-color: #45a049;
}

.nivel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  label {
    margin-right: 0.5rem;
    font-weight: bold;
    color: white;
  }

  select {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s;

    &:hover {
      transition: filter 0.3s;
      filter: brightness(0.8);
    }

    & option {
      background: rgba(255, 255, 255, 0.15);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.9px);
      -webkit-backdrop-filter: blur(3.9px);
      padding: 0.5rem;
      transition: background-color 0.3s;
    }
  }
}

#game {
  display: grid;
  margin-top: 2rem;
  justify-self: center;
  align-self: center;
  padding: 1rem;
  border-radius: 16px;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  height: auto;
  width: fit-content;

  [data-mine="true"] {
    background-color: red;
  }


  &.facil {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  &.medio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  &.dificil {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}


.cell {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: 0.5px solid #f8fff8;
  cursor: pointer;
}